ul {
    /* display: flex;
    flex-wrap: wrap;
    flex-direction: column; */
    list-style: none;
}
li {
    border: solid 5px rgb(44, 110, 18);
    margin: 5px;
    padding: 25px;
    border-radius: 10px;
    width: 20%;
}

img:hover {
    transform: scale(1.1);
    transition-timing-function: ease-in;
    transition: 0.2s;
}

button:hover {
    cursor: pointer;
}

